.sidebar {
  width: 250px;
  height: 100vh;
  background: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #e9ecef;
  transition: all 0.3s ease;
  position: fixed;
}

.sidebar.collapsed {
  width: 79px;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-toggle {
  background: none;
  border: none;
  color: #6a1b9a;
  font-size: 1.2rem;
}

.sidebar-content {
  transition: all 0.3s ease;
}

.nav-link {
  color: #6c757d;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-link.active {
  color: #6a1b9a;
  background: #e0c1f4;
  border-radius: 5px;
}

.nav-link .link-text {
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link .link-text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.user-section{
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.user-section img {
  width: 40px;
  margin-bottom: 5px;
}

.sidebar.collapsed .user-section .link-text {
  display: none;
}

/* Hide Dashboard text in header when collapsed */
.sidebar.collapsed .sidebar-header .dash {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.content {
  margin-left: 250px; /* Match sidebar width */
  padding: 20px;
  transition: margin-left 0.3s ease;
  background-color: #FAFAFB !important;
}

.sidebar.collapsed + .content {
  margin-left: 79px; /* Match collapsed sidebar width */
}